body {
  background: #346;
  color: #ddd;
  font-size: 11px;
  height: auto;
  padding-bottom: 20px;
  font-family: "helvetica neue",Helvetica,Arial,Verdana,sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

h2 {
  padding-top: 20px;
  text-align: center;
}

p {
  border: 1px solid #666;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

#icon {
  width: 6%;
  float: left;
  margin-left: 5%;
  margin-bottom: 1%;
}

#title {
  float: left;
  font-size: 2.0em;
  margin-top: 1%;
  margin-left: 1%;
  font-family: "Istok+Web",Helvetica,Arial,Verdana,sans-serif; 
  text-shadow: 1px 1px 3px #111; /* FF3.5+, Opera 9+, Saf1+, Chrome */
  color: #f66;
}
.firstHalf {
  font-weight: 700;
}
.secondHalf {
  font-weight: 400;
}

.unionContainer {
  position: relative;
}
.union {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

#progress div {
  height: 300px;
  min-height: 300px;
  overflow: hidden;
}
