.hidden {
  display: none;
}

#conceptsInput .dropdowns {
  float:left;
  width: 190px;
  margin-right: 10px;
}

#keyConceptsDropdownOptions {
  background: #d3d3d3;
  color: #232323;
}
.dropdownOptions .sublist {
  padding-left: 20px;
  list-style-type: square;
  padding-bottom:0;
}
ul.dropdownOptions {
  list-style-type: none;
}
.dropdownOptions li:hover {
  background-color: #8d8d8d;
  color: #efefef;
  position: absolute;
}

.bloomsTaxonomy {
  margin-top: 20px;
  list-style: none;
}
.bloomsTaxonomy li {
  margin: 0;
}

.taxonomyHeader {
  border: 1px solid white;
  background: #d3d3d3;
  padding: 5px;
  clear: both;
  color: black;
  margin: 0;
}

.listContainer {
  position: relative;
}

.dropdownsContainer {
  margin-top: 40px;
  margin-bottom: 100px;
  clear: both;
}
